html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 550px;
  background: transparent;
  border-radius: 3px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}